<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/styles/screen.css" />
  </head>

  <body>
    <header>
      <nav>
        <a href="/">Home</a>
        <a href="/phone/">Phone</a>
        <a href="/airpods/">Airpods</a>
        <a href="/wallet/">Wallet</a>
      </nav>
    </header>

    <main>
      {{ content }}
    </main>

    <footer>
      <p><em>footer</em></p>
    </footer>
  </body>
</html>
